.searchButton {
    background-color: #94c11f;
    border: 0px;
    margin: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    font-family: 'Play', sans-serif;
}

.formBox {
    margin: 20px;
    background-color: #C3DFE0;
    padding: 15px;
    border-radius: 10px;
    min-width: fit-content;
    max-width: 2000;
}

.SearchOverlay {
    position: relative;
    text-align: center;
    color: black;
}

.centered {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-54%, -50%);
    align-content: center;
}

.BikeSearch {
    font-family: 'Play', sans-serif;

}

.WhenDo {
    padding-right: 8px;
}

.HomeTitle {
    text-align: center;
    margin-top: 100px;
    font-family: 'Play', sans-serif;
}

.GreenWays {
    text-align: center;
    align-content: center;
}

.HomeImg {
    max-width: 220px;
    position: static;
}

.GreenWaysText {
    padding-top: 5px;
}

.PickUp {
    background-color: #C3DFE0;
    margin-top: 40px;
}

.PickUpTitle {
    padding: 20px;
    text-align: center;
    font-family: 'Play', sans-serif;
}

.PickUpPointText {
    text-align: center;
}

.Map {
    max-width: 600px;
    align-items: center;
}

.MapText {
    padding: 25px;
}

.MemberTitle {
    font-family: 'Play', sans-serif;
    padding: 15px;
    text-align: center;
}

.Member {
    align-items: center;
}

.MemImg {
    max-width: 350px;
    align-self: center;
}

.MemTxt {
    text-align: center;
    padding: 12px;
}

.NoMem {
    text-align: center;
    padding: 10px;
}