.searchButton {
    background-color: white;
    border: 0px;
    margin: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    font-family: 'Play', sans-serif;
    color: #C3DFE0;
}

.formBox {
    margin: 0px;
    background-color: #d7da01;
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 60px;
    min-width: fit-content;
    max-width: 2000;
}

.SearchOverlay {
    position: relative;
    text-align: center;
    color: black;
}

.centered {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-content: center;
}

.BikeSearch {
    font-family: 'Play', sans-serif;
    color: white;
    font-size: 70px;
}

.WhenDo {
    padding-right: 8px;
}

.HomeTitle {
    text-align: center;
    margin-top: 100px;
    font-family: 'Play', sans-serif;
    padding: 30px;
}

.GreenWays {
    text-align: center;
    align-content: center;
}

.HomeImg {
    max-height: 220px;
    position: static;
    padding: 20px;
}

.GreenWaysText {
    padding-top: 5px;
    padding-bottom: 20px;
}

.PickUp {
    background-color: #C3DFE0;
    margin-top: 40px;
    padding-bottom: 20px;
}

.PickUpTitle {
    padding: 20px;
    text-align: center;
    font-family: 'Play', sans-serif;
}

.PickUpPointText {
    text-align: center;
}

.Map {
    max-width: 500px;
    align-items: right;
}

.MapText {
    padding: 25px;
}

.MemberTitle {
    font-family: 'Play', sans-serif;
    padding: 15px;
    text-align: center;
}

.Member {
    align-content: center;
}

.MemImg {
    max-width: 350px;
    align-self: center;
}

.MemTxt {
    text-align: center;
    padding: 12px;
}

.NoMem {
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.MapBox {
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    border-color: black;
}

.Icon {
    min-width: 30px;
    margin-left: -10px;
    margin-top: 20px;
}

.MapArea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.LocArea {
    padding-top: 15px;
}

.Prices {
    background-color: #C3DFE0;
    padding-left: 8px;
    border-radius: 5px;
    border: none;
    font-size: large;
}

.Footer {
    background-color: grey;
}

.FooterTxt {
    color: white;
    padding: 3px;
    text-align: center;
    margin-top: 10px;
}

.Socials {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.FooterSub {
    color: lightgrey;
    padding: 3px;
    text-align: center;
    margin-top: 0px;
}

.Inputs {
    margin-top: 20px;
    color: #C3DFE0;
}

.checkBox {
    color: white;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

body {
    background-image: url(images/BackBike.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
}

.whiteBack {
    background-color: white;
}

.Search {
    background-color: #d7da01;
    font-family: 'Play', sans-serif;
    font-size: x-large;
    color: white;
    padding: 40px;
    border-radius: 60px;
    border: none;
    padding-left: 80px;
    padding-right: 80px
}

.subBikeSearch {
    color: white;
    padding-bottom: 10px;
}

.Events {
    font-family: 'Play', sans-serif;
    text-align: center;
    padding: 10px;
    padding-top: 30px;
}

.memCard {
    margin: 0px;

}

.searchItems {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-content: center;
}

.EventContainer {
    margin-bottom: 40px;
    margin-top: 20px;
}

.Member {
    align-items: center;
}

.carouselCaption {
    font-size: 60px;
}

.carouselSub {
    font-size: 20px;
}

.caption {
    background-color: #C3DFE0;
    border: none;
}