.searchButton {
    background-color: greenyellow;
    border: 0px;
    margin: 10px;
}

.formBox {
    margin: 20px;
    background-color: #C3DFE0;
    padding: 15px;
    border-radius: 10px;
    min-width: fit-content;
    max-width: 1200;
}

.SearchOverlay {
    position: relative;
    text-align: center;
    color: black;
}

.centered {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-54%, -50%);
    align-content: center;
}